<%= form_for(fooditem) do |f| %>
  <% if fooditem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fooditem.errors.count, "error") %> prohibited this fooditem from being saved:</h2>

      <ul>
      <% fooditem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :upc %>
    <%= f.number_field :upc %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
